---
import LocalFont from '../generic/LocalFont.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string;
  description?: string;
  ogImage?: URL;
}

const {
  title = 'Psicóloga em outra dimensão',
  description = 'Um espaço de reflexões pessoais e escritas fora do comum.',
  ogImage = new URL('https://brutal-nu-one.vercel.app/preview.png', Astro.site),
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const siteTitle = title === 'Psicóloga em outra dimensão' ? title : `${title} | Psicóloga em outra dimensão`;
---

<head>
  <LocalFont />
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='generator' content={Astro.generator} />

  <link rel='alternate' href='/blog.xml' type='application/rss+xml' />

  <!-- SEO & General -->
  <title>{siteTitle}</title>
  <meta name='title' content={siteTitle} />
  <meta name='description' content={description} />
  <link rel='canonical' href={canonicalURL} />
  <link rel='icon' type='image/svg' href='/favicon.svg' />

  <!-- Open Graph (Facebook, WhatsApp, etc.) -->
  <meta property='og:title' content={siteTitle} />
  <meta property='og:description' content={description} />
  <meta property='og:url' content={canonicalURL} />
  <meta property='og:image' content={ogImage.toString()} />
  <meta property='og:type' content='website' />

  <!-- Twitter -->
  <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:url' content={canonicalURL} />
  <meta property='twitter:title' content={siteTitle} />
  <meta property='twitter:description' content={description} />
  <meta property='twitter:image' content={ogImage.toString()} />

  <ViewTransitions />

  <slot />
</head>
